@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
.title{
    font-family: 'Gugi', cursive; 
    font-size: 20vw;
    background: url("beach2.jpg")no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-position: center;
    
    background-size: cover;
}
.form {
    font-family: 'Gugi', cursive; 
    padding: 5vh;
    margin-left: 20%;
    margin-right:20%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form1 {
    background: url("form1.png")no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.form2 {
    background: url("form2.png")no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.btn {
    font-size: 2vw;
    margin: 5vw;
    border: 5px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s all ease;
    font-family: 'Gugi', cursive; 
}
.btn3 {
    margin: none;
    font-size: 2vw;
    border: 5px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s all ease;
    font-family: 'Gugi', cursive; 
}
.input1 {
    font-size: 2vw;
    margin-top: 10px;
    border: 5px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.5s all ease;
    font-family: 'Gugi', cursive; 
}
.input1:focus {
    outline: none;
    border: 5px solid rgba(255, 255, 255, 1);
}
.input1:hover {
    border: 5px solid rgba(255, 255, 255, 1);
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.btn3:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.btn3:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.title3{
    font-family: 'Gugi', cursive; 
    font-size: 20vw;
    margin-top:10%;
    color: black;
    font-family: 'Electrolize', sans-serif;
}
body {
    background-image: url("back2.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.title2 {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    margin-top:200%;
    font-size: 5vw;
    color: black;
}
.start {
    font-size: 6vw;
    font-family: 'Electrolize', sans-serif;
    border: none;
    border-radius: 0;
    background-color: rgb(35, 79, 161);
    padding: 1vw;
    margin-bottom:5vw;
    color: rgb(228, 208, 208);
    animation-duration: 3s;
}
.showdiv {
    background-color: rgb(189, 15, 50);
}
body {
    padding: none;
}